body {
  margin: 0;
  height: 100vh;
  color: white;
  background-image: linear-gradient(rgba(13, 47, 197, 0.815), rgba(6, 154, 240, 0.596));
}

.room-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  height: 55%;
}

.title {
  padding-left: 20px;
}

.main-container {
  padding-left: 20px;
  height: 90vh;
}

#whiteboard {
  position: fixed;
  right: 30px;
  top: 10px;
  border: 2px solid rgb(34, 25, 165);
  margin: 4px;
  background-color: white;
}

.hidden {
  display: none;
}

button {
  background-color: #2d62d3ee;
  color: white;
  border: 1px solid rgba(31, 143, 177, 0.795);
  border-radius: 7px;
  cursor: pointer;
  font-size: 14px;
}

.row {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  cursor: not-allowed;
  color: #99c9d8;
}

input {
  font-size: 16px;
  padding: 5px;
  color: black;
  height: 10px;
  border-radius: 5px;
}

#chats {
  font-size: 15px;
}

h4 {
  color: rgba(1, 17, 243, 0.932);
}

#conversation {
  height: 200px;
  margin-top: 25px;
  border: 1px solid rgb(11, 84, 167);
  border-radius: 10px;
  padding-left: 20px;
  width: 45%;
  overflow: scroll;
}